body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #005f73;
    color:pink;
}
header{
    background-color: #005f73;
    color: rgb(255, 255, 255);
    padding: 15px 0;
}
.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005f73;
}
header h1{
    margin-left: 20px;
}
nav ul{
    list-style: disc;
    display: flex;
}
nav ul li{
    margin-right:20px
}
nav ul li a{
    color:rgb(255, 255, 255) ;
    text-decoration: dotted;
}
#hero{
    background-image: url(../vecteezy_elegant-garment-collection-hanging-in-modern-boutique_24653601.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
}
.hero-content{
    background-color: rgb(0,0,0,0.5);
    padding: 20px;
}
.hero-button{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
}
footer{
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 10px,0;
}
#services{
    background-color: #fff;
    padding: 20px;
    text-align: left;
}
#services h2{
    color: #007bff;
    margin-bottom: 15px;
}
#services ul{
    list-style-type: style circle; 
    margin-left:20px ;
}
#services li{
    margin-bottom: 10px;
}
#about{
    background-color: #005f73;
    padding: 20px;
    text-align: left;
}
#about h2{
    color: pink;
    margin-bottom: 15px;
}
#contact{
    background: #fff;
    padding: 20px;
    text-align: left;
}
#contact h2{
    color: #dc3545;
    margin-bottom: 15px;
}
#contact p{
    margin-bottom: 10px;
}
#services li:hover, #contact p:hover{
    color: #0056b3;
    cursor: pointer;
}
#about img{
    margin: 10px 20px;
    padding: 10px 20px;
    width: 150px;
    height: 150px;
}
